{:deps true
 :nrepl false
 :socket-repl false
 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn example.frontend.app/init}}
   :output-dir "assets/public/js"
   :asset-path "/assets/js"}}}
